<!DOCTYPE html>
<html>
  <head>
    <title>Desk.com - Prove It</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Desk.com - Prove It</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            <li <%= raw('class="active"') if current_page?(root_path) %>>
              <a href="/">Cases</a>
            </li>
            <li <%= raw('class="active"') if current_page?(labels_path) %>>
              <a href="/labels">Labels</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "alert alert-#{key}") %>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
